.container-counter{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;

    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.10);
}

.distribution-counter{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    height: 72px;
}
.icon-counter{
    display: flex;
    width: 64px;
    height: 72px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: #EEF7FF;
}
.icon-counter>i{
    color: #57ACFE;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.text-counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.count-title, .info-title {
    color: #57ACFE;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: unset;
}

.count-text {
    color: #737373;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: unset;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}